* {
    font-family: 'Tenor Sans', sans-serif;
}
body{
    background-color:#F5F5EF;
    align-items: baseline;
}

.cabecera h2 {
    display: inline;
    font-size: 15px;
   
}
/**
aside div {
    height: 100%;
    width: 50%;
    float: right;
}
*/

.linea_cabecera {
    height: 1px;
}

.cabecera h3 {
    display: inline;
    float: right;
    font-size: 10px;
    width: auto;
    height: auto;
    margin-top: 5px;
}

li {
    list-style: none;
}

li ul {
    padding-left: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    transition: 0.5s;
    color: rgb(127, 109, 131);
}

.contenedor-ed {
    display: inline;
}

.contenido-ed {
    font-family: 'Montserrat', sans-serif;
}

.banner {
    border-left: 1px solid;
    width: 40%;
    height: auto;
    opacity: 50%;
    float: right;
    filter: blur(100px)
}

.banner-img {
    border-radius: 5%;
}

.contenido-banner {
    height: 100%;
    width: 60%;
}

.contenido-banner h1 {
    font-size: 3rem;
}
    @media (max-width: 520px) {
        .contenido-banner h1 {
            font-size: 1.5rem;
        }
    }


header li {
    display: inline-block;
}

header li ul {
    display: inline-block;
    margin: 0;
}

.contenedor {
    height: 8rem;
    width: 8rem;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.habilidades{
   margin-left: 20px;
   text-align: center;
}


