
body{
    font-family: 'Tenor Sans', sans-serif;
    overflow-x: hidden;
    background-image: url('./resources/banner-fondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-color: #F5F5EF;
    cursor: default;
}

.contenido-banner {
    width: auto;
    height: 600px;
}

.contenido-banner p {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    max-width: 530px;
}

hr {
    border-color: rgba(78, 78, 78, 0.61);
    width: 100%;
}

.cabecera h2 {
    display: inline;
    font-size: 15px;
   
}

.cabecera h3 {
    display: inline;
    float: right;
    font-size: 10px;
    width: auto;
    height: auto;
    margin-top: 5px;
}

li {
    list-style: none;
}

li ul {
    padding-left: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    transition: 0.5s;
    color: rgb(127, 109, 131);
}

.contenido-ed {
    font-family: 'Montserrat';
    font-weight: bolder;
    text-align: center;
}

.contenido-banner h1 {
    font-size: 3rem;
}
    @media (max-width: 520px) {
        .contenido-banner h1 {
            font-size: 1.5rem;
        }
    }


header li {
    display: inline-block;
}

header li ul {
    display: inline-block;
    margin: 0;
}

.tarjeta {
    max-width: 500px;
    border: transparent;
    background-image: url('./resources/banner-fondo.png');
    background-color: transparent;
    border-radius: 15px;
    border-style: solid;
    box-shadow: 0px 1px 10px 2px rgba(00, 00, 00, 0.2) ;
    margin: 20px;
    padding: 15px;
    font-family: 'Quicksand', sans-serif;
    transition: all 400ms ease;
}

.tarjeta:hover {
    box-shadow: 5px 5px 15px 2px rgba(44, 43, 43, 0.459) ;
}

.contenedor {
    justify-content: center;
    display: flex;
}

.tarjeta img {
    max-width: 100px;
    height: auto;
}


